/* imports */

@import url("media_query.css");
@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap');
/* Base css */

/* common Start */

body {
    background-color: rgb(241, 243, 245);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* https://w3bits.com/css-masonry/ */

.grid-item {
    /* Masonry bricks or child elements */
    display: inline-block;
    width: 100%;
    padding: 0 20px;
}

.badge {
    display: inline-block;
    padding: .24rem 0.6rem;
    border-radius: 30px;
    font-size: .8rem;
    text-align: center;
    background: #14af83;
    color: #fefefe;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
    font-family: 'Fira Mono', monospace;
}

/* Typhography Start */

* {
    font-family: 'Montserrat', sans-serif;
    color: #333447;
    line-height: 1.5
}

h1 {
    font-weight: 200;
    font-size: 48px;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    color: #745fb5;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    color: #108668; /*#108b68; Google audit contrast fix*/
}

h1, li, span, a {
    color: rgb(85, 99, 113);
}

/*effect-underline*/

.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

h2.line::after {
    margin-left: 24px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(116, 95, 181, 0.2), transparent 80%);
}

.ovrflw-auto {
    overflow: auto;
}

.muted {
    color: rgba(190, 196, 204);
}

/* Typhography End */

/* Header Start */

.header {
    margin-top: 0;
    padding-top: 5rem;
}

.header {
    text-align: center;
    font-family: 'Megrim', cursive;
}

h1.header-text::before {
    content: '# ';
    color: rgba(190, 196, 204);
}

.header-text {
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(102, 119, 136, .2);
    position: relative;
}

/* Header End */

/* width css Start */

.mw-250 {
    min-width: 250px;
}

.mw-300 {
    min-width: 300px;
}

.mw-400 {
    min-width: 400px;
}

/* width css End */

/* fab Start */

.fab-home {
    font-family: 'Megrim', cursive;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    position: fixed;
    left: 5%;
    top: 2.5%;
    background-color: #745fb5;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    padding-right: 6px;
}

/* fab End */

/* common End */

/* md cheat sheet Start */

.cheat-card-content {
    background-color: white;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
    border-radius: 3px;
}

.cheat-card {
    background-color: white;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
    border-radius: 3px;
}

.cheat-card .cheat-card-content {
    box-shadow: none;
    border-radius: 0;
}

.cheat-card-title {
    margin: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.cheat-card-content-title {
    padding: 4px 16px;
    margin: 0;
    color: #678;
    background-color: #f8f9fa;
    border-top: solid 1px rgba(102, 119, 136, .1);
}

.cheat-card-content>div>* {
    padding: 4px 24px;
    margin: 0;
}

.cheat-card-content>div>table {
    margin: 4px 24px;
    padding: 0;
}

.cheat-card-content> :not(:first-child), .chld-seperators> :not(:first-child) {
    border-top: solid 1px rgba(102, 119, 136, .06);
}

.mdHtml blockquote {
    padding: 4px 24px;
    margin: 0;
    color: #647586d4;
    background-color: #f8f9fa70;
}

.mdHtml blockquote p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
}

/* reset block quotes */

.mdHtml blockquote * {
    margin: inherit;
    padding: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.mdHtml strong {
    color: #14af83;
    font-weight: bold;
}

.mdHtml em {
    color: #2e90ae;
}

.mdHtml pre {
    box-shadow: none;
    border-left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-x: auto;
    background: #fff;
    font-size: .96em;
    line-height: 1.5;
    font-family: 'Fira Mono', monospace;
}

.cheat-card>div>table, .cheat-card-content>div>table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

.mdHtml table td:first-child, .mdHtml table th {
    white-space: nowrap;
}

.mdHtml table tr th:last-child, .mdHtml table tr td:last-child {
    text-align: right;
}

.mdHtml table tr>:not(:first-child):not(:last-child) {
    text-align: center;
}

.mdHtml table td, .mdHtml table th {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
}

.mdHtml p img {
    /* padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px; */
    margin: -4px -24px;
}

.mdHtml table td:last-child, .mdHtml table th:last-child {
    padding-right: 24px;
}

.mdHtml table tr {
    border-top: solid 1px rgba(102, 119, 136, .06);
}

hr {
    /* border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
    display: none;
}

/* md cheat sheet End */

/* List styles Start */

ul.md-list {
    background-color: white;
    padding: 16px 24px;
    border-radius: 3px;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}

ul.md-list li {
    margin-left: 16px;
    line-height: 2rem;
    cursor: pointer;
    position: relative;
}

ul.md-list li:hover {
    font-weight: bold;
}

/* List styles End */

/* Footer Start */

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-container>section {
    padding-bottom: 25rem;
}

.f-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}

.footer {
    height: 20rem;
    /* padding: 1rem 5rem; */
    border-top: solid 1px rgba(102, 119, 136, .1);
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
}

.footer>div.footer-wrapper {
    background: white;
}

.footer h1, .footer h2, .footer h3 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer ul {
    margin-top: 0;
    margin-left: -15px;
    margin-bottom: 0;
}

.footer a {
    text-decoration: none;
    position: relative;
    line-height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer a::before {
    content: '# ';
}

.footer .head-container {
    padding: 2rem;
}

/* Footer End */
