@media only screen and (min-width: 1024px) {
    /* Masonry on large screens */
    .grid {
        column-count: 3;
    }
    .container {
        width: 70%;
        max-width: 80rem
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    /* Masonry on medium-sized screens */
    .grid {
        column-count: 2;
    }
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
    /* Masonry on small screens */
    .grid {
        column-count: 1;
    }
    .container {
        width: 90%;
    }
}